<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ message }}
    <ul id="list"></ul>>
  </body>
</html>
<script>
  const evtSource = new EventSource("http://localhost:3000/sse", { withCredentials: true } );

  evtSource.onmessage = function(event) {
    const newElement = document.createElement("li");
    const eventList = document.getElementById("list");
    const time = JSON.parse(event.data).time;
    newElement.textContent = "ping at " + time;
    eventList.appendChild(newElement);
  }
</script>